* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header CSS Start */

.header-img {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #c1c0c0;
    position: fixed;
    z-index: 99;
}

.nav {
    margin-top: 70PX;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: rgb(20, 166, 224);
    position: fixed;
    z-index: 99;
}

.nav-logo {
    height: 70px;
    display: flex;
    gap: 20px;
}

.nav-logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #a9a9a9;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 30px;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.nav-link a:hover {
    color: rgb(170, 51, 51);
}

/* Responsive toggle button */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .nav-link {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-link.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

/* Header CSS End */

/* Index CSS Start */
.navbar {
    height: 140px;
    width: 100%;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: lime;
}

/* Index CSS End */

/* Footer CSS Start */
footer {
    background-color: cyan;
}

.footer {
    height: 50vh;
    width: 100%;
    /* background-color: rgb(241, 136, 136); */
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    gap: 20px;
}

.footer-link {
    width: 25%;
    padding-left: 10px;
    /* border: 2px solid black; */
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.footer-link a {
    text-decoration: none;
}

.term {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 20px;
}

.term a {
    text-decoration: none;
}

/* Footer CSS End */