* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header CSS Start */
.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #a9a9a926;
}

.nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: rgb(20, 166, 224);
}

.nav-left {
    height: 70px;
    display: flex;
    gap: 20px;
}

.nav-left h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #a9a9a9;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 30px;
}

.nav-right a {
    text-decoration: none;
    color: white;
}

.nav-right a:hover {
    color: rgb(170, 51, 51);
}

/* Header CSS End */

/* Index CSS Start */
.hero{
    height: 100vh;
    width: 100%;
    background-color: lime;
}

/* Index CSS End */

/* Footer CSS Start */
.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(241, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer CSS End */